@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*:focus,
*:hover {
  outline: 0;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
}

.container {
  padding: 100px 20px;
  @include responsive(991px) {
    margin-top: 152px;
  }
}

.none-el {
  display: none !important;
}
