@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  &:focus,
  &:hover {
    outline: 0 !important;
    outline: none !important;
    appearance: none !important;
    -webkit-appearance: none !important;
  }
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
}

.main {
  position: relative;
  z-index: 99;
  min-height: 80vh;

  @include responsive(991px) {
    margin-top: 152px;
  }
}

.none-el {
  display: none !important;
}
