:root {
  --color-header-shadow: rgb(0 0 0 / 10%);
  --color-header-top-bar: #cfb997;
  --color-bg-pri: #fff;

  --color-btn: #cfb997;

  --color-text-pri: #252a2b;
  --color-text-second: #a0816c;
  --color-text-white: #fff;
  --color-text-black: #333333;

  --color-triangle-shadow: rgba(0, 0, 0, 0.12);

  --color-border-pri: #ededed;
  --color-input-border: #ececec;
  --color-input-bg: #f5f5f5;

  --color-shadow-btn-control-slider: rgb(54 54 54 / 15%);
  --color-shadow-btn-20: rgb(255 227 228 / 20%);
}

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9);
