.breadcrumb-shop {
  background-color: #f5f5f5;

  @include responsive(767px) {
    background-color: #fff;
  }

  .breadcrumb-list {
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px 15px;
    @include flex(center);

    @include responsive(767px) {
      padding: 10px 15px 5px;
    }
  }

  .breadcrumb-item {
    font-size: 1.3rem;
    line-height: 1.9rem;
    @include flex(center);

    @include responsive(767px) {
      font-size: 1rem;
    }

    &.active > a {
      color: #777;
      pointer-events: none;
    }

    a {
      color: #252a2b;
      display: inline-block;
      transition: color 150ms linear;

      &:hover {
        color: #cfb997;
      }
    }

    &:not(:first-child) {
      &:before {
        content: "/\00a0";
        display: inline-block;
        font-family: "FontAwesome";
        color: #ccc;
        padding-right: 4px;
        padding-left: 5.57px;
        font-size: 1.958rem;
      }
    }
  }
}
