.main-content {
  .collection-body {
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    @include flex();

    @include responsive(991px) {
      flex-wrap: wrap;
    }
  }

  .collection__sidebar {
    position: sticky;
    width: 25%;
    top: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0 15px;

    @include responsive(991px) {
      width: 100%;
      margin: 0;
      margin-top: 20px;
      position: relative;
      top: 0;
    }

    &__title {
      display: none;

      @include responsive(991px) {
        display: block;
        padding: 8px 15px;
        margin-bottom: 5px;
        position: relative;
        background-color: #f5f5f5;
        font-weight: 700;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: #252a2b;
        line-height: 1.9rem;
        cursor: pointer;

        i {
          display: block;
          top: 8px;
          right: 10px;
          position: absolute;
          line-height: 1.9rem;
        }
      }
    }

    &__list {
      overflow-x: hidden;
      overflow-y: auto;
      margin-bottom: 10px;

      @include responsive(991px) {
        max-height: 0;
        overflow: hidden;
        margin-bottom: 0;
        transition: max-height 450ms ease-out;

        &.show {
          max-height: 216px;
          margin-bottom: 10px;
          transition: max-height 350ms ease-in;
        }
      }

      &__item {
        &-svgIcon {
          a {
            line-height: 2.8rem !important;

            i {
              display: none !important;
            }
          }
        }

        a {
          color: #252a2b;
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 3rem;
          letter-spacing: 1px;
          padding: 5px 5px 5px 0;
          transition: color 150ms linear;

          &:hover {
            color: #cfb997;
          }

          i {
            font-size: 8px;
            position: relative;
            margin-left: 10px;
            top: -2px;
          }
        }
      }
    }
  }

  .collection__content {
    width: 75%;
    padding: 0 15px;

    @include responsive(991px) {
      width: 100%;
    }

    &__heading {
      @include flex(center, space-between);
      margin: 50px -15px;

      @include responsive(991px) {
        margin: 20px 0;
      }

      .collection__title {
        width: calc(100% - 100% / 3);
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2;
        color: #a0816c;

        @include responsive(991px) {
          width: 100%;
          font-size: 2rem;
          text-align: center;
        }
      }

      .collection__filter {
        width: calc(100% / 3);

        @include responsive(991px) {
          display: none;
        }

        .custom-dropdown {
          width: auto;
          float: right;
          position: relative;

          &:after {
            content: "\f103";
            font-family: "FontAwesome";
            font-size: 1.4rem;
            color: #000;
            display: block;
            position: absolute;
            top: 9px;
            right: 2px;
            opacity: 0.42;
            line-height: 1.9rem;
          }

          select {
            width: 144px;
            height: 30px;
            display: block;
            font-size: 14px;
            font-family: "Quicksand", sans-serif;
            color: #252a2b;
            text-indent: 1px;
            padding: 0 20px 0 0;
            border-color: transparent;
            border-bottom: 1px solid #000;
            border-radius: 0;
            background-color: #fff;
            outline: 0;
            appearance: none;
            cursor: pointer;
            position: relative;
          }
        }
      }
    }

    &__list {
      margin: 0 -15px;

      @include responsive(991px) {
        margin: 0;
      }
    }
  }
}
